@tailwind base;
@tailwind components;
@tailwind utilities;
.bgaboutus{
  background-repeat: no-repeat;
  background-image: url("/../assets/aboutusimage.webp");
  background-size: cover;


}
.servicebox ::before{
  background-color: white;
  
}
.serviceslider{
  width:95% !important;
}
.mainservicebanner{
  background-image: url('/../assets/servicebg2.webp');
  background-repeat: no-repeat;
  background-size: cover;
}
.partnerbanner{
  background-image: url('/../assets/kv.webp');
  background-repeat: no-repeat;
  background-size: cover;
}
.investmentimage{
  background-image: url('/../assets/investmentbanner.webp');
  background-repeat: no-repeat;
  background-size: cover;
}
.newsbanner{
  background-image: url('/../assets/newsbanner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.companybanner{
  background-image: url('/../assets/companybanner.webp');
  background-repeat:no-repeat;
  background-size: cover;
}
.contactbanner{
  background-image: url('/../assets/contactbanner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
